extends ./pug/layout.pug
block vars 
  - var description = 'About page'
  - var title = 'About title'
block styles 
  link(rel="stylesheet", href="./styles/about.css")
block content
  .about-wrap Hello world from about