doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    p.txt
    p.txt
    p.txt
    p.txt.txt--white
    input(type="text")
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Tempore in blanditiis minus, voluptatibus at aliquam? Quod 
      officia voluptates suscipit natus! Minima nostrum quaerat porro in quos ab, tempora soluta libero!